<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UMP Job Connect</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <main>
        <% if (error) { %>
            <p class="error">
                <%= error %>
            </p>
            <% } %>
                <% if (success) { %>
                    <p class="success">
                        <%= success %>
                    </p>
                    <% } %>
                        <%- body %>
    </main>
    <script src="/js/main.js"></script>
</body>

</html>